@model EducationalProgram.Models.StaffRegistrationInfo
@{
    ViewBag.Title = "Confirmation";
    Layout = "~/Views/Shared/_MainLayout.cshtml";

}


<div style="background-color: #1d4f7e;">
    <div class="info_sub_main col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="container">
            <div class="row">
                <div class="info_sub">
                    <img src="~/Content/images/tick1.png">
                    <h1>Thank you!</h1>
                    @if (Model != null)
                    {
                        <h3>Thank you for registering with our program and further clarification below FSW employee will contact you.</h3>
                    }
                    else
                    {
                        <h3>Thank you for registering with our program.</h3>
                    }
                    <div>

                        @if (Model != null)
                        {
                            <div class="cust_name"><label>FSW Name:<span>@Model.FirstName @Model.LastName</span></label></div>
                            <div class="cust_name"><label>Email:<span>@Model.EmailAddress</span></label></div>
                            <div class="cust_name"><label>Center Name:<span>@Model.CenterName</span></label></div>
                            if (Model.CellNumber != null && Model.CellNumber != string.Empty)
                            {
                                <div class="cust_name"><label>Phone Number:<span>@Model.CellNumber</span></label></div>
                            }
                        }


                    </div>
                    <a href="/Family/Index"> BACK TO HOME </a>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/js/FamilyScript.js"></script>
<script>
    $(function () {
        console.log(ConfimationDetail);
        $('body').css('background-color', '#1d4f7e');


        CheckTransportForAgency();
    });
</script>

